.benefits {
    
    @include section ($pt: 60px, $pb: 60px);

    @media screen and (min-width: 1200px) {
    @include section($pt: 94px, $pb: 94px);
    }
}
.benefits__list {
    
    
    @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    --items: 2;
    }

    @media screen and (min-width: 1200px) {
    --items: 4;
    }
} 

.benefits__item {
    margin-bottom: 30px;

    @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    }

    @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
    margin-bottom: 0;
    }
}
.benefits__item:last-child {
    margin-bottom: 0px;
}
.benefits__box {

    height: 120px;
    background-color: var(--team-btn-portfolio-bgr);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.benefits__icon {
    width: 70px;
    height: 70px;
}

.benefits__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits__text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}