.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--main-title-footer-bgr);
}

.footer__container {


    @media screen and (min-width: 768px) {
    display: block;
    }

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    }
    
}

.footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
}