// Navigation
.nav {
    display: none;

    @media screen and (min-width: 768px) {
    display: flex;
    margin-right: auto;   
    }
}

.nav__list {
    display: flex;
    gap: 50px;
}

.nav__link {
    position: relative;
    display: block;
    padding: 16px 0;


   
    @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--main-text-color);    
    }
   

    &:hover,
    &:focus {
    color: var(--logo-text-color);
}
}

.nav__link.current {
    color: var(--logo-text-color);

    &::after {
    content: "";
    display: inline-block;

    position: absolute;
    bottom: -1px;
    left: 0;

    width: 100%;
    height: 4px;
    background-color: var(--primary-btn-bgr);
    border-radius: 2px;
    }

}


