.portfolio {
    @include section ($pt: 60px, $pb: 60px);

    @media screen and (min-width: 1200px) {
        
    @include section($pt: 94px, $pb: 94px);
    }
}

.portfolio__container {
    display: flex;
}

.portfolio__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio__item {
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.portfolio__link {
    display: block;
    text-decoration: none;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover,
    &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio__img {
    display: block;
    max-width: 100%;
    height: auto;
    background: url(portfolio7.jpg);
}

.portfolio__box {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 25px;
    padding-left: 24px;

    background: var(--main-bgr);
    border-right: 1px solid var(--border-portfolio);
    border-bottom: 1px solid var(--border-portfolio);
    border-left: 1px solid var(--border-portfolio);
}

.portfolio__titel {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    letter-spacing: 0.06em;
    color: var(--main-text-color);
    margin-bottom: 4px;
}

.portfolio__text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.03em;
    color: var(--p-text-color);
}
.portfolio__card {
    position: relative;
    overflow: hidden;
}