.works {
   display: none;
          
    @media screen and (min-width: 1200px) {
    display: block;
    @include section ($pt: 0, $pb: 94px);
   }
}

.works__title {

    @media screen and (min-width: 1200px) {

    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    }
   
}

.works__box {
    @media screen and (min-width: 1200px) {
    position: relative;
   }
}

.works-name {
    @media screen and (min-width: 1200px) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    }
    
}

.works-name__title {

    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 4);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    }
}

.works__list {

   @media screen and (min-width: 1200px) {
   display: flex;
   gap: 30px;
   }
}

.works__item {

   @media screen and (min-width: 1200px) {
   flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
   }
}