.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 450px;
    width: 100%;
    height: 609px;

    background-color: var(--main-bgr);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
    max-width: 528px;
    max-height: 581px;
    }
}

.btn-modal {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;
    border-radius: 50%;
    background-color: var(--main-bgr);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-modal__icon {
    fill: currentColor;

    &:hover,
    &:focus {
    color: var(--logo-text-color);
    }
}

