.social-links {
    display: flex;
    gap: 10px;
    justify-content: center;
    
    &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
    }
}

.social-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    background-color: var(--main-bgr);
    color: var(--link-social-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: var(--second-btn-bgr);
    background-color: var(--logo-text-color);
    }
}

.team__social-links {
    padding-bottom: 24px;
    
    @media screen and (min-width: 1200px) {
     padding-bottom: 30px;   
    }
    
}

.footer__social-links-link {
    color: var(--second-btn-bgr);
    background-color: rgba(255, 255, 255, 0.1);

}